{% extends "main/base.html" %}
{% load static %}

{% block titleblock %}
<title>LEAP - Thanh toán</title>
{% endblock %}

{% block bodyblock %}

<!-- Start Checkout -->
<section class="shop checkout section">
  <div class="container" style="margin-top: 70px; max-height: 500px">
    <div class="row">
      <div class="col-lg-8 col-12">
        <div class="checkout-form">
          <h2>Cảm ơn quý khách</h2>
          <p>
            Quý khách <b> {{order.last_name}} {{order.first_name}} </b> đã đăng ký khóa học thành công.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="order-details">
          <!-- Order Widget -->
          <div class="single-widget">
            <h2>THÔNG TIN LỚP HỌC</h2>
            <div class="content">
              <ul>
                {% for item in cart %}
                  <li>Tên lớp: {{item.product.ten_lop}}</li>
                  <li>Ngày học: {{item.product.days1}}, {{item.product.days2}}, {{item.product.days3}}</li>
                  <li>Lúc: {{item.product.hours1}} - {{item.product.hours2}}</li>
                  <li>Mã zoom: </li>
                {% endfor %}
              </ul>
            </div>
            <a href="{% url 'main:index.html'%}" class="btn-get-started"
              >Về trang chủ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End Checkout -->

{% endblock %}
